**Product Recommendation System**

**Import Packages**

In [ ]:
import pandas as pd

**Upload CSV/Excel File**

In [ ]:
df = pd.read_excel("OnlineRetail.xlsx")

In [ ]:
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

**Data Cleaning**

**Removing Null Value**

In [ ]:
df.dropna(subset=["CustomerID"],inplace = True)
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['Description'] = df['Description'].str.strip()
df['Country'] = df['Country'].str.strip().str.lower()
df = df[df['Quantity']>0]
df = df[df['UnitPrice']>0]

In [ ]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

**Globally Popular Products**

In [ ]:
globally_popular = df.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(5)
print("\nThe Top 5 Globally Popular Products are: \n")
for index, item in enumerate(globally_popular.index):
  print((index+1)," ",item)

The Top 5 Globally Popular Products are:

1   PAPER CRAFT , LITTLE BIRDIE
2   MEDIUM CERAMIC TOP STORAGE JAR
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS
4   JUMBO BAG RED RETROSPOT
5   WHITE HANGING HEART T-LIGHT HOLDER

**Country-Wise Popular Products**

In [ ]:
country_list = df['Country']
country_list = list(set(country_list))
country = input("Enter the Name of the Country: ")
country = country.strip().lower()

while True:
  if country not in country_list:
    print("Country Name not found in Dataset!")
    country = input("Re-enter the Country Name: ")
    country = country.strip().lower()
  else:
    break

df_country =df.groupby('Country')
df_country = df_country.get_group(country)
country_wise_popular = df_country.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(5)

print("\nThe Top 5 Popular Products in",country,"are: \n")
for index, item in enumerate(country_wise_popular.index):
    print((index+1)," ",item)

Enter the Name of the Country: australia

The Top 5 Popular Products in australia are:

1   MINI PAINT SET VINTAGE
2   RABBIT NIGHT LIGHT
3   RED  HARMONICA IN BOX
4   RED TOADSTOOL LED NIGHT LIGHT
5   HOMEMADE JAM SCENTED CANDLES

**Monthly Popular Product**

In [ ]:
df['Month'] = df['InvoiceDate'].dt.month

month_list = df['Month'].unique().tolist()
month = int(input("Enter the Month Number: "))

while True:
  if month not in month_list:
    print("Month Number not found in Dataset!")
    month = int(input("Re-enter the Month Number: "))
  else:
    break

df_month =df[df['Month']==month]
monthly_popular = df_month.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(5)

print("\nThe Top 5 Popular Products in Month",month,"are: \n")
for index, item in enumerate(monthly_popular.index):
    print((index+1)," ",item)

Enter the Month Number: 11

The Top 5 Popular Products in Month 11 are:

1   RABBIT NIGHT LIGHT
2   POPCORN HOLDER
3   PAPER CHAIN KIT 50'S CHRISTMAS
4   JUMBO BAG RED RETROSPOT
5   ASSORTED COLOUR BIRD ORNAMENT

**Product Reommendation Based Other Customers**

(People who bought this also bought these Products)

In [ ]:
#Create User-Item Interaction Matrix

interaction_matrix = df.pivot_table(index='CustomerID', columns='StockCode', values='Quantity', fill_value=0)
print(interaction_matrix.head())

StockCode   10002  10080  10120  10125  10133  10135  11001  15030  15034  \
CustomerID
12346.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12347.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12348.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12349.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12350.0       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

StockCode   15036  ...  90214V  90214W  90214Y  90214Z  BANK CHARGES   C2  \
CustomerID         ...
12346.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0
12347.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0
12348.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0
12349.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0
12350.0       0.0  ...     0.0     0.0     0.0     0.0           0.0  0.0

StockCode   DOT    M  PADS  POST
CustomerID
12346.0     0.0  0.0   0.0  0.00
12347.0     0.0  0.0   0.0  0.00
12348.0     0.0  0.0   0.0  2.25
12349.0     0.0  0.0   0.0  1.00
12350.0     0.0  0.0   0.0  1.00

[5 rows x 3665 columns]

In [ ]:
#Calculate cosine similarity
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(interaction_matrix.T)
cosine_sim_df = pd.DataFrame(cosine_sim, index=interaction_matrix.columns, columns=interaction_matrix.columns)

In [ ]:
#Make Recommendations

def get_recommendations(customer_id, top_n=5):
    # Get the items purchased by the customer
    purchased_items = interaction_matrix.loc[customer_id]

    # Filter items that the customer has purchased
    purchased_items = purchased_items[purchased_items > 0].index.tolist()

    # If no items are purchased, return an empty list
    if not purchased_items:
        return []

    # Create a Series to hold recommendation scores
    recommendation_scores = pd.Series()

    # Calculate scores based on purchased items
    for item in purchased_items:
        # Get the similarity scores for the purchased item
        similar_items = cosine_sim_df[item]

        # Update recommendation scores (ignore items already purchased)
        recommendation_scores = recommendation_scores.add(similar_items, fill_value=0)

    # Remove items already purchased from recommendations
    recommendation_scores = recommendation_scores.drop(purchased_items, errors='ignore')

    # Convert scores to numeric and drop NaN values
    recommendation_scores = pd.to_numeric(recommendation_scores, errors='coerce').dropna()

    # Get the top N recommendations
    top_recommendations = recommendation_scores.nlargest(top_n)

    # Map StockCode to Description
    stock_code_to_description = df.set_index('StockCode')['Description'].to_dict()

    # Create a DataFrame for the top recommendations with product names
    recommendations_with_names = pd.DataFrame({
        'ProductName': [stock_code_to_description[code] for code in top_recommendations.index],
        'Score': top_recommendations.values
    })

    return recommendations_with_names

# Example usage for customer A (replace with actual CustomerID)
customer_id = int(input("Enter The Customer ID: "))
print("The Top 5 Recommended Products for CustomerID", customer_id,"and their Recommendation Scores are:\n\n")
customer_a_recommendations = get_recommendations(customer_id)  # Replace 17850 with an actual CustomerID
print(customer_a_recommendations.to_string(index=False))

Enter The Customer ID: 17850
The Top 5 Recommended Products for CustomerID 17850 and their Recommendation Scores are:


                       ProductName    Score
 WOOD BLACK BOARD ANT WHITE FINISH 3.588077
     DOORMAT KEEP CALM AND COME IN 3.544371
             DOORMAT RED RETROSPOT 3.487943
DOORMAT FANCY FONT HOME SWEET HOME 3.400922
  VINTAGE CREAM CAT FOOD CONTAINER 3.330976